@import '../../shared_styles/shared_imports.less';

.nav-container {
  background-color:@gray;
  height: inherit;
  width: @nav_width;
  position:absolute;
  border-right: 1px solid @dark_gray;
  overflow: scroll;
}