@import '~shared_styles/shared_imports.less';

.header {
  background-color: @gray;
  color: @text_gray;
  .border_bottom;
}

.header-title {
  font-size: @font_title;
  display: inline-block;
  padding: 0 0.5rem * @golden;
  a {
    text-decoration: none;
    color: @text_gray;
    &:hover,&:active {
      color: @text_gray;
    }
  }
}