@import '../../../shared_styles/colors.less';
@import '../../../shared_styles/sizes.less';

.nav-item {
  background-color: @gray;
  border-bottom: 1px solid @dark_gray;
  color: @blue;
  padding: 0.5rem * @golden;
}